<nav style="display: inline-block">
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'All Notes', notes_path %></li>
    <li><%= link_to 'New Note', new_note_path %></li>
  </ul>
</nav>